*{
    margin:0;
    padding:0;
    text-decoration:none;
  }

  body{
    padding: 10px;
    min-width: 375px;
    background-color: white;
    font-family: 'Bree Serif', serif;
  }

  h1{

    font-weight: bold;
    font-size: 4rem;
  }

  h2{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin: 0px;
  }

  h3{
    font-weight: bold;
    font-size: x-large;
  }

  a {
    text-decoration: none
  }

  p {
    text-align: center;
  }

  .area{
    align-items: center;
    display: flex;
  }

  .box{
    width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .formulario{
    padding: 3rem;
    border: 1px solid grey;
    border-bottom: 5px solid grey;
    border-radius: 10px;
  }
  
  .form-control{
    padding: 10px;
  }

  .logo{
    margin-left: 10px;
    align-items: center;
    font-weight: 700;
    font-size: xx-large;
  }
  
  .title{
    margin-top:20px;
    font-weight:300px;
    text-align: center;
  }
  
  label{
    display:block;
    margin-top:30px;
    font-size:25px;
    font-weight: 700;
    color:#0A4E65;
  }
  
  .button{
    font-family: 'Bree Serif', serif;
    font-size: large;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
  }

  .box-btn-sumit{
    justify-content: center; 
    display: flex;  
    margin-top: 70px;
  }
  
  .button:hover{
    position: initial;
    background-color: #0A4E65;
    border-bottom: 5px solid #159dcbbb;
    color: #fff;
  }
  
  
  .texto-footer{
    text-align: center;
    display:block;
    margin-top: 50px;
    font-size:18px;
  }
  
  .footer-link{
    color:#00B8DC;
  }

  /*****************Color Card**************/

 .c1{
    color: #F05176;
    border:none;
    background-color: #FBE3E8;
    border-bottom: 3px #F051763D solid;
  }

  .c2{
    color: #FF8100;
    border:none;
    background-color: #FDEEDF;
    border-bottom: 3px #FF81003D solid;
  }

  .c3{
    color: #00C555;
    border:none;
    background-color: #E5F9EE;
    border-bottom: 3px #00c5553d solid;
  }

  .c4 {
    color: #009CC6;
    border:none;
    background-color: #bbf0ff;
    border-bottom: 3px #009CC63D solid;
  }

  .c5{
    color: white;
    border:none;
    background-color: #0A4E65;
    border-bottom: 3px solid #009CC6;
  }

  .c6{
    color: black;
    background-color: #fff;
    border-bottom: 3px #80808089 solid;
  }

  /******************Cards******************/
  .card {
    padding-block: 3.3rem;
    margin: 10px 5px 5px 5px;
    border-radius: 10px;
  }

  .cards-box {
    padding: 5px;
    width: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }

  .text {
    font-size: large;
  }

  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }

  @media screen and (max-width: 900px) {
    .area {
      align-items: center;
      display: block;
    }
    
    .box, .cards-box{
      width: auto;
    }
}
