  body {
    padding: 0;
    font-family: 'Bree Serif', serif;
    background-color: white;
    min-width: 500px;
  }
  
   /* Barra de Navegación */

  .fs-1{
    font-size: 3rem !important;
  }

  .nav-link {
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
  }
  
  .navbar{
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
  }
  
  /* Main */
  
  .c1{
    border: none;
    color: #F05176;
    background-color: #FBE3E8;
    border-bottom: 3px #F051763D solid;
  }
  
  .c2{
    border: none;
    color: #FF8100;
    background-color: #FDEEDF;
    border-bottom: 3px #FF81003D solid;
  }
  
  .c3{
    border: none;
    color: #00C555;
    background-color: #E5F9EE;
    border-bottom: 3px #00c5553d solid;
  }
  
  .c4 {
    border: none;
    color: #009CC6;
    background-color: #bbf0ff;
    border-bottom: 3px #009CC63D solid;
  }
  
  .c5{
    border: none;
    color: white;
    background-color: #0A4E65;
    border-bottom: 3px solid #009CC6;
  }
  
  .c6{
    border: none;
    color: black;
    background-color: #fff ;
    border-bottom: 3px #80808089 solid;
  }
  
  /* Hovers */
  
  .t-btn:hover{
    color: white !important ;
    background-color: #0A4E65 !important ;
    border-bottom: 3px solid #009CC6 !important ;
  }
  
  /* Cards */
  
  .card{ 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30%;
  }

  .maxw{
    max-width: 50%;
  }

  .card-text {
    text-align: center;
  }
  
  
  .hidden-text {
    display: none;
  }
  
  /* Pie de pagina */
  
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0px;
  }
  
  @media screen and (max-width: 800px) { /* Estilos para pantallas móviles */
  
    .card-box {
      display: block !important;
      justify-content: center !important;
    }

    .card {
        border: none;
        border-bottom: 3px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400%;
        z-index: 2;
    }
  }